################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ClaimIt.Api/.vs/ClaimIt/FileContentIndex/5b317ee4-ff89-46f5-b841-c78ef7bdc7ea.vsidx
