html {
    width: 385px;
    height: 600px;
    overflow: hidden !important;

}

body {
    background-color: #1c1c1c;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    overflow: hidden !important;
    font-family: 'Space Grotesk', sans-serif;
}

.hide {
    display: none;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.header {
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 15px 20px;
}

.header a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin-left: 8px;
}

.money-gif {
    position: fixed;
    opacity: .33;
    bottom: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.earnBox {
    margin-top: 5px;
}

h1 {
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 32px;
    margin: 0;
}

.title {
    color: #fff;
    font-size: 72px;
    font-family: 'Space Grotesk', sans-serif;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.7),
        0 0 8px rgba(255, 255, 255, 0.5);
    font-weight: 700;
}

.subTitle {
    color: #d1d1d1;
    font-size: 22px;
    font-weight: 500;
    font-family: 'Space Grotesk', sans-serif;
    letter-spacing: 0.5px;
}

.ctn {
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 10px;
}

svg {
    margin: 7px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#actionButton:focus {
    outline: 3px solid #57b3fe;
}

#actionButton {
    background-color: #57b3fe;
    border: 1px solid #57b3fe;
    color: #1c1c1c;
    padding: 10px 20px;
    margin: 0 15px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 8px #57b3fe;
    /* Subtle shadow for a more balanced look */
    border-radius: 5px;
    text-decoration: none;
    /* animation: pulse 1.5s infinite alternate; */
}

#actionButton:hover {
    background-color: transparent;
    color: #57b3fe;
    border: 1px solid #57b3fe;
    /* Slight scale effect for a subtle hover */
    box-shadow: 0 0 15px #57b3fe;
}

.projectBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

button.projectRow {
    padding: 12px 20px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background-color .3s ease, transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    margin: 8px auto;
    background-color: #222222;
}

.projectRow:hover {
    background-color: #414141;
    transform: scale(1.05);
}

.projectRow img.airdrop-image {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 15px;
}

.projectRow .notif-text h3 {
    font-size: 16px;
    color: #bbb;
    margin: 0;
    padding: 0;
    text-align: start;

}

.projectRow .notif-text p {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    margin: 0;
    padding-top: 5px;
    text-align: start;
}
.projectRow .notif-date {
    font-size: 13px;
    color:#999999;
}


.airdropContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#showForm {
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.showForm:hover {
    color: #5c5c5c;
}

.walletRow {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #222222;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    background-color: #222222;
    transition: background-color 0.3s;
    cursor: auto;
}

.walletRow:hover {
    background-color: #424242;
}

.walletRow h3 {
    margin: 0;
    color: #fff;
    font-size: 18px;
}

.walletRow p {
    margin-left: 10px;
    color: #888;
    font-size: 14px;
}

.walletRow img {
    margin-right: 10px;
    border-radius: 50%;
}


.suggestionRow {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #222222;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    width: 90%;
}

.suggestionRow:hover {
    background-color: #404040;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

.suggestionTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    color: #fff;
}

.airdropIcon {
    margin-right: 15px;
    border-radius: 50%;
}

.potential {
    font-size: 1.2rem;
    color: #38de38;
    /* Green color */
    font-weight: 600;
}

.costInfo {
    font-size: 1rem;
    color: #c1c1c1;
    margin: 5px 0;
}

.tutorialLink {
    font-size: 1rem;
    color: #007bff;
    text-decoration: none;
    margin-top: 10px;
}

.tutorialLink:hover {
    text-decoration: underline;
}

.minimalistButton {
    background-color: transparent;
    border: 1px solid #007bff;
    color: #007bff;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 50px;
}

.minimalistButton:hover {
    background-color: #007bff;
    color: white;
}

#airdropList {
    width: 110%;
    /* Ensure the container stretches to the available width */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coinInfos {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    color: #fff;
    margin: 10px;
}

.coinIco {
    margin-right: 10px;
}

.coinLabel {
    margin-right: auto;
}

.coinAmount {
    margin-left: auto;
}

.addProjectLabel {
    color: #5d5d5d;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: .6s ease-in-out;
}

.addProjectLabel:hover {
    color: #57b3fe;
}

input {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    width: 80%;
    font-size: 16px;
}

.AddAirdropForm {
    width: 83%;
}

.AddAirdropForm input,
.AddAirdropForm button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.AddAirdropForm input {
    background: #2c2c3e;
    color: white;
}

.AddAirdropForm input::placeholder {
    color: #a0a0b3;
}

.AddAirdropForm button {
    background: #4caf50;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.AddAirdropForm button:hover {
    background: #45a049;
}

#addAirdropBtn {
    background-color: #57b3fe;
    color: white;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

#addAirdropBtn:hover {
    background-color: #8fcdff;
}

h3 {
    color: white;
    font-size: 22px;
    margin-top: 25px;
    margin-bottom: 0px;
}

.tab-nav {
    width: 100%;
    background: linear-gradient(to bottom, #0d0d0d 60%, #232323 100%);
    padding: 10px 0;
    margin: 20px 0;
    font-weight: 600;
}

.navigator {
    display: flex;
    justify-content: space-around;
}

.tab-nav input {
    display: none;
}

.projectBox input {
    display: block;
}

/* Style des labels des onglets */
.tab-nav label {
    color: white;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.tab-nav label:hover {
    color: #57b3fe;
}

/* Contenu des onglets */
.tab-content {
    text-align: center;
    color: white;
    padding: 20px;
}

/* Masquer tout le contenu par défaut */
.tab-pane {
    display: none;
}

.tab-pane h3 {
    display: flex;
}

#tab1,
#tab2,
#tab3 {
    font-weight: 600;
}

/* Afficher uniquement l'onglet actif */
#tab1:checked~.tab-content #content1,
#tab2:checked~.tab-content #content2,
#tab3:checked~.tab-content #content3 {
    display: block;
}

/* Effet de surbrillance sur l'onglet actif */
#tab1:checked+label,
#tab2:checked+label,
#tab3:checked+label {
    color: #57b3fe;
    border-bottom: 2px solid #57b3fe;
    padding-bottom: 5px;
}


.progress-container {
    width: 75%;
    background-color: #333;
    color: white;
    border-radius: 25px;
    overflow: hidden;
    height: 25px;
    margin: 0 20px;
}

.progress-bar {
    height: 100%;
    width: 0%;
    text-align: center;
    line-height: 25px;
    color: white;
    background: linear-gradient(90deg, #2e9efa, #a7d7ff);
    border-radius: 8px;
    transition: width 0.5s ease-in-out;
}

#level-text {
    color: white !important;
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 10px;
}

#rank-icon {
    margin-top: 10px;
}

@keyframes fadeIn {
    from {
        opacity: .4;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
}

.claimedStatus {
    font-weight: bold;
    font-size: 12px;
    padding: 5px 10px;
    margin: 0;
    border-radius: 12px;
    text-align: center;
    display: inline-block;
    margin-left: 10px;
}

.claimedStatus.claimed {
    background-color: #30fd36;
    color: white;
}

.claimedStatus.notClaimed {
    background-color: #fb3ee1;
    color: white;
}

.task-container {
    font-family: 'Orbitron', sans-serif;
    width: 285px;
    margin: 10px 20px;
    padding: 25px;
    background: rgb(28, 28, 28, 0.8);
    /* semi-transparent background */
    border: 3px solid #57b3fe;
    border-radius: 10px;
    box-shadow: 0 0 15px #57b3fe;
    text-align: left;
}

#taskComplete {
    background: transparent;
    color: #57b3fe;
    border: 1px solid #57b3fe;
    height: 20px;
    width: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.taskHidden {
    background-color: #00cd0a;
    color: white;
}

.taskHidden .tutorialLink {
    display: none;
}

.taskDescription {
    font-family: 'Space Grotesk', sans-serif;
    margin-left: 5px;
    font-size: 14px;
    font-weight: 600;
}

.taskComplete:hover {
    background: #57b3fe;
    color: #000;
}

.task-header {
    font-size: 20px;
    font-weight: 700;
    color: #00ffff;
    text-shadow: 0 0 5px #57b3fe;
    margin-bottom: 10px;
}

.task-goals {
    font-size: 17px;
    font-weight: 700;
    color: #00ff0d;
    text-shadow: 0 0 5px #57fe57;
    text-align: center;
    margin-top: 15px;
}

.task-subheader {
    color: #fff;
    font-size: 13px;
    text-align: center;
}

.task {
    display: flex;
    align-items: center;
    padding: 10px;
    background: rgba(0, 255, 255, 0.1);
    color: #fff;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #57b3fe;
}

.task-container button {
    background: transparent;
    color: #57b3fe;
    border: 1px solid #57b3fe;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.task-container button:hover {
    background: #57b3fe;
    color: #000;
}

.task-container .progress-bar {
    width: 100%;
    height: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    margin-top: 10px;
    position: relative;
    border: 1px solid #57b3fe;
}

.task-container .progress {
    height: 100%;
    background: #57b3fe;
    width: 0%;
    border-radius: 5px;
    transition: width 0.5s;
}

.skeleton {
    background-color: #ddd;
    animation: pulse 1.5s infinite ease-in-out;
    border-radius: 4px;
    color: transparent;
}

.title-skeleton {
    height: 40px;
    width: 60%;
    margin: 10px auto;
}

.subtitle-skeleton {
    height: 20px;
    width: 40%;
    margin: 5px auto;
}

.progress-container-skeleton {
    height: 20px;
    width: 80%;
    margin: 10px auto;
}

/* Pulse animation for skeleton */
@keyframes pulse {
    0% {
        background-color: #ddd;
    }

    50% {
        background-color: #ccc;
    }

    100% {
        background-color: #ddd;
    }
}

.confetti-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}

.confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    opacity: 0.8;
    transform: rotate(45deg);
    animation: fall linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: translateY(100vh) rotate(720deg);
        opacity: 0;
    }
}

.bell-container {
    position: relative;
    cursor: pointer;
}

.bell {
    font-size: 26px;
    color: #333;
    transition: 0.3s ease-in-out;
    padding: 3px;
    border-radius: 50%;
}

.bell-container:hover .bell {
    transform: scale(1.2);
    background-color: rgb(138, 84, 2, 0.8);
}

.badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    font-size: 14px;
    font-weight: bold;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notificationPopup {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #1c1c1c;
    z-index: 999999;
}

.notification-container {
    margin-top: 15px;
}

#notificationsList{
    color: white;
    font-size: 16px;
}

.closePopup {
    position: absolute;
    top: 20px;
    right: 15px;
    color: red;
    background-color: transparent;
    border-color: transparent;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.closePopup:hover {
    color: rgba(255, 72, 72, 0.604);
}